article {
  width: 100%;
  max-width: var(--page-width);
}

.articleMeta {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.articleMeta-tags a {
  padding-right: .3rem;

}

.summary {
  color: var(--text-secondary);
  font-style: italic;
}

