/* Scroll */
html {
    scroll-behavior: smooth;
}

/*  Box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Global settings */
body {
    font-family: "Bricolage Grotesque", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Microsoft YaHei", "Noto Sans CJK", sans-serif;
    font-size: 1rem;
    font-variation-settings: "wght" 400;
    background: var(--page-background);
    color: var(--text-primary);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    justify-content: center;
    margin: 3rem auto 1rem auto;
    padding: 1.4rem;
}

footer {
    color: var(--text-secondary);
    margin: .5rem 0;
    text-align: center;
    font-size: .8rem;
    font-variation-settings: "wght" 200;
}

/* Typo */
h1 {
    font-size: 2em;
    margin: 1.5rem 0 .5rem 0;
    font-variation-settings: "wght" 700;
}

h2 {
    font-size: 1.8em;
    margin: 1rem 0 .5rem 0;
}

h3,
h4,
h5,
h6 {
    font-size: 1.3em;
    margin: .5rem 0 .5rem 0;
}

p {
    margin: 1rem 0;
    line-height: 1.5em;
}

hr {
    border: .5px solid var(--text-secondary);
    height: auto;
    text-align: center;
    margin: 0;
}

a {
    color: var(--theme);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.05rem;
}

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive */
@media (max-width: 768px) {
    main {
        width: 100%;
        padding: 0.8rem;
    }
}