/* Scroll */
html {
  scroll-behavior: smooth;
}

/* Global setting box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 400;
  background: var(--page-background);
  color: var(--text-primary);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: var(--main-width);
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: center;
  margin: 20px auto;
  margin-top: var(--header-height);
  padding: var(--main-padding);
}


footer {
  color: var(--text-secondary);
  margin-top: 1rem;
  text-align: center;
  font-weight: 200;
}

a {
  color: var(--theme);
  text-decoration: underline;
}

/* Head Title */
h1 {
  font-size: 2em;
  margin: 2rem 0 .5rem 0;
}

h2 {
  font-size: 1.8em;
  margin: 2rem 0 1.5rem 0;
}

h3,
h4,
h5,
h6 {
  font-size: 1.3em;
  margin: 1.5rem 0 1rem 0;
}

p {
  margin: .5rem 0;
  line-height: 1.5em;
}

/* List */
ol {
  padding: 1rem 0 1rem 1rem;
}

ul {
  padding: 0 0 0 1rem;
}

li {
  margin: 0 0 0 .5rem;
}

/* Code Block*/
pre {
  margin: 1rem 0;
  border-radius: 8px;
  padding: 1.5rem;
  line-height: 1.3rem;
  overflow: scroll;
  overflow-x: auto;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

code span {
  display: inline !important;
}

code {
  margin: 1rem 0;
  border-radius: 8px;
  padding: 1.5rem 0;
  font-size: 0.8rem;
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
}