:root {
    --theme: rgba(0, 137, 108, 1);
    --notice-background: rgba(0, 137, 108, 0.2);
    --page-background: rgba(255, 255, 251, 1);
    --header-background: rgba(252, 250, 242, 1);
    --text-primary: rgba(28, 28, 28, 1);
    --text-secondary: rgba(101, 103, 101, 1);
    --code-background: rgba(40, 42, 54, 1);
    --code-border: rgba(50, 50, 50, 1);
    --code-text: rgba(248, 248, 242, 1);
}