.footnotes {
    margin: 1rem 0;
    border-style: none;
    }

.footnotes ol {
    font-variation-settings: "wght" 200;
    color: var(--text-secondary);
}

.footnotes p {
    margin: 0;
}

.footnotes hr {
    border: none;
    border-top: 1px solid var(--text-secondary);
    color: var(--text-secondary);
}

.footnote-ref {
    text-decoration: none;
    font-variation-settings: "wght" 400;
    font-size: 0.8rem;
    margin: .2rem;
}

.footnote-backref {
    font-size: 0.8rem;
    text-decoration: none;
}