/* Global setting box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 400;
  background: var(--page-background);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: center;
  margin: 50px 0;
}

.post {
  width: 100%;
  max-width: var(--page-width);
  text-align: left;
  padding: 20px;
  margin: 20px auto;
}

.footer {
  color: var(--text-secondary);
  border-top: 1px solid var(--text-secondary);
  margin-top: 1rem;
  text-align: center;
}

a {
  color: var(--theme);
  text-decoration: underline;
}
