/* Scroll */
html {
  scroll-behavior: smooth;
}

/* Global setting box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 400;
  background: var(--page-background);
  color: var(--text-primary);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: var(--main-width);
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: center;
  margin: 20px auto;
  margin-top: var(--header-height);
  padding: var(--main-padding);
}


footer {
  color: var(--text-secondary);
  margin-top: 1rem;
  text-align: center;
  font-weight: 200;
}

a {
  color: var(--theme);
  text-decoration: underline;
}


h1 {
  margin-top: var(--h1-margin-top);
  margin-bottom: var(--h1-margin-bottom);
  font-size: var(--h1-font-size);
}

h2 {
  margin-top: var(--h2-margin-top);
  margin-bottom: var(--h2-margin-bottom);
  font-size: var(--h2-font-size);
}

h3,
h4,
h5,
h6 {
  font-size: var(--hx-font-size);
  margin-top: var(--hx-margin-top);
  margin-bottom: var(--hx-margin-bottom);
}

p {
  margin-top: var(--p-margin-top);
  margin-bottom: var(--p-margin-bottom);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
}

ul {
  margin-top: var(--ul-margin-top);
  margin-bottom: var(--ul-margin-bottom);
}

li {
  margin-left: var(--li-indent);
}

li code {
  background-color: var(--code-background);
  color: var(--code-text);
}

/* Code blocks */

pre {
  padding: var(--code-padding);
  border: 1px solid var(--chroma-border);
  overflow: scroll;
  border-radius: var(--code-border-radius);
  margin-top: var(--code-margin-top);
  margin-bottom: var(--code-margin-bottom);
  background-color: var(--chroma-background);
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: 1.3em;
}

pre::-webkit-scrollbar {
  display: none;
}

code span {
  display: inline !important;
}

code {
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-variant-ligatures: contextual;
  font-family: var(--font-mono);

  margin: auto 4px;
  padding: 4px 6px;
  font-size: 0.78em;
  line-height: 1.5;
  border-radius: 4px;
}


.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.katex-display::-webkit-scrollbar {
  display: none;
}