nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin: 1.1rem .8rem 1.1rem .8rem;
}

nav a.active    {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.08rem;
    color: var(--theme);
    font-weight: 600;
}