article {
  width: 100%;
  max-width: var(--page-width);
}

.post-meta {
  color: var(--text-secondary);
}

.post-meta-tags a {
  padding-right: .3rem;

}

.summary {
  color: var(--text-secondary);
  font-style: italic;
}

