:root {
  /* Fonts */
  --font-body: "Bricolage Grotesque", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Microsoft YaHei", "Noto Sans CJK", sans-serif;
    
  /* Main */
  --main-width: 768px;
  --main-padding: 1.4em;

  /* Header */
  --header-height: 3.5rem;
  --header-padding: .5rem;
  --header-margin-bottom: 2rem;
  --siteTile-padding: 1rem;
  --nav-padding: 1rem;



  --code-margin-top: 2rem;
  --code-margin-bottom: 2rem;


  /* List indentation */


  --toc-margin-top: 2rem;
  --toc-margin-bottom: 3rem;
  --toc-padding: .8rem;

 

  /* Tables */
  --table-cell-padding: .5rem;
  --table-margin-top: 1.5rem;
  --table-margin-bottom: 1.5rem;
}
